/* .news-list-container {
    padding: 16px;
  }
  
  .news-list-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .news-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 10%;
  }

  
  .news-body {
    padding: 16px;
  }
  
  .news-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px;
  }
  
  .news-description {
    font-size: 14px;
    color: #555;
    margin: 0 0 16px;
  }
  
  .news-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .news-link:hover {
    text-decoration: underline;
  }
  
  .loading, .error {
    text-align: center;
    padding: 16px;
    font-size: 18px;
  }
   */

   /* NewsList.css */


  
   .news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .news-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;

  }
  
  .news-image {
    width: 100%;
    height: auto;
  }
  
  .news-body {
    padding: 16px;
  }
  
  .news-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
  }
  
  .news-description {
    font-size: 1rem;
    color: #555;
  }
  
  .news-link {
    display: inline-block;
    margin-top: 8px;
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .news-link:hover {
    text-decoration: underline;
  }
  
  .loading {
    text-align: center;
    font-size: 1.5rem;
  }
  .Ops{
    display: flex;
    gap: 10px;
    padding: 10px 0;
  }
  .Ops button{
    padding: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
  }
  
  .error {
    text-align: center;
    color: red;
    font-size: 1.25rem;
  }
  @media (max-width:850px) {
    .news-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
  }
  @media (max-width:465px) {
    .news-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }
  }