*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  .app-container {
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .search-form {
    display: flex;
    gap: 8px;
  }
  
  .search-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    outline: none;
  }
  
  .search-button {
    background-color: #00727e;
    color: #fff;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .search-button svg {
    font-size: 1.5em;
  }
  
  .content-container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
  }
  
  .content-layout {
    display: flex;
    /* flex-direction: column; */
    gap: 16px;
    /* background: red; */
  }
  .css-1vgwj2n-MuiGrid-root>.MuiGrid-item {
    padding: unset;
}
.css-1vgwj2n-MuiGrid-root {
    box-sizing: unset;
    display: unset;
    display: unset;
    display: unset;
    display: unset;
    -webkit-box-flex-wrap: unset;
    /* -webkit-flex-wrap: wrap; */
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    width: unset;
    -webkit-flex-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    margin-top: unset;
    width: unset;
    margin-left: unset;
    display: unset;
    display: unset;
    display: unset;
    display: unset;
    background: unset;
    padding: unset;
}
  
  .sidebar {
    height: 90vh;
    color: #000000;
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    justify-content: space-evenly;
    position: sticky;
    top: 30px;
    background: #fff;
  
    border-radius: 8px;
    padding: 10px 0 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    justify-content: space-around;
    height: 40%;
    padding: 20px;
    flex: 1;
  }
  
  .sidebar-link {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    transition: all .2s linear;
  }
  .sidebar-link:hover {
    transform: translateX(5px);
  }
  
  .main-content {
    flex: 3;
  }
  
  @media (max-width: 768px) {
    .sidebar-nav {
    
      display: flex;
    }
    .sidebar {
      height: auto;
      display: flex;
      width: 100%;
      text-align: center;
      position: sticky;
      top: 4px;
      background: #fff;
      color: #000;
      padding: 10px 0;
    }
    .sidebar-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 40%;
    }
    .content-layout {
      flex-direction: column;
      gap: 16px;
    }
    .navbar-brand {
      font-size: .8em;
      font-weight: bold;
      color: #333;
      text-decoration: none;
    }
    .search-input {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px;
    }
    .sidebar-link{
      color: #000;
    }
    .sidebar-link:hover {
      transform: translateY(-5px);
    }
  }